<header>
  {% load static %}
  {% with request.resolver_match.view_name as view_name %}
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'documents:index' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="color:black">СПБ №7</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav nav-pills ms-auto mb-2">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a type="button" class="btn btn-success" href="{% url 'documents:document_create' %}">Новый документ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="{% url 'users:password_change' %}">Изменить пароль</a>
        </li>
        <li class="nav-item">
          <form method="post" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <button class="btn btn-danger">Выйти</button>
          </form>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="btn btn-warning" href="{% url 'users:login' %}">Войти</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="{% url 'users:signup' %}">Регистрация</a>
        </li>
        {% endif %}
      </ul>
    </div>
    </div>
  </nav>
  {% endwith %}
</header>