{% comment %}Оформление кнопки с фильтрами.{% endcomment %}
{% load user_filters %}
<div class="dropdown mb-2">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Фильтры
  </button>
  <form action="{% if request.GET.q %}{% url "documents:search" %}{% else %}{% url "documents:index" %}{% endif %}" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
    {% tag_themes as themes %}
    {% for theme in themes %}
    <div class="form-check form-switch mx-3">
      <input class="form-check-input" type="checkbox" name="{{ theme.name|strip_tags }}" id="flexSwitchCheckDefault" value="{{ theme.id }}" {% if theme.name|strip_tags in request.GET  %} checked {% endif %}>
      {% comment %} {% if request.GET.q %}
          <input type="hidden" name="q" value="{{ request.GET.q }}">
      {% endif %} {% endcomment %}
      <label class="form-check-label" for="flexSwitchCheckDefault">{{ theme.name|truncatechars:17 }}</label>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
  </form>
</div>
