{% extends "base.html" %}
{% block title %}Документы{% endblock title %}
{% block content %}
  {% if user.is_authenticated %}
    <div class="alert alert-primary d-flex align-items-center mt-3" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
      <div>
        Вы вошли как: "{{ user.get_full_name }}"
      </div>
    </div>
  {% else %}
    <div class="alert alert-danger d-flex align-items-center mt-3" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
      <div>
        Для начала работы авторизуйтесь!
      </div>
    </div>
  {% endif %}
  {% include "documents/includes/switcher.html" %}
  <h2>Последние документы</h2>
  <hr/>
  <table class="table table-striped">
    <caption>Список документов</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Тип документа</th>
        <th scope="col">Откуда</th>
        <th scope="col">Куда</th>
        <th scope="col">Исполнитель</th>
        <th scope="col">...</th>
      </tr>
    </thead>
    <tbody>
      {% for document in page_obj %}
        {% include "documents/includes/show_document.html" %}
      {% endfor %}
    </tbody>
  </table>
  {% include "documents/includes/paginator.html" %}
{% endblock content %}
